version: "3.8"

services:
  selenoid-1:
    image: aerokube/selenoid:latest
    container_name: selenoid-1
    security_opt:
      - seccomp:unconfined     # критично для WSL2
    shm_size: '2gb'            # расширенный /dev/shm для Chrome
    ulimits:
      core: -1
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - selenoid-net
    ports:
      - "4444:4444"
    restart: always
    volumes:
      - ./browsers.json:/etc/selenoid/browsers.json:ro
      - ./logs:/opt/selenoid/logs
      - ./video:/opt/selenoid/video
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Moscow
      - OVERRIDE_VIDEO_OUTPUT_DIR=/opt/selenoid/video
      - KEEP_SESSIONS_ON_FAILURE=true

  selenoid-2:
    image: aerokube/selenoid:latest
    container_name: selenoid-2
    security_opt:
      - seccomp:unconfined
    shm_size: '2gb'
    ulimits:
      core: -1
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - selenoid-net
    restart: always
    volumes:
      - ./browsers.json:/etc/selenoid/browsers.json:ro
      - ./logs:/opt/selenoid/logs
      - ./video:/opt/selenoid/video
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Moscow
      - OVERRIDE_VIDEO_OUTPUT_DIR=/opt/selenoid/video
      - KEEP_SESSIONS_ON_FAILURE=true

  selenoid-ui:
    image: aerokube/selenoid-ui:latest
    container_name: selenoid-ui
    networks:
      - selenoid-net
    depends_on:
      - selenoid-1
    restart: always
    command: ["--selenoid-uri", "http://selenoid-1:4444"]
    environment:
      - TZ=Europe/Moscow
      - KEEP_SESSIONS_ON_FAILURE=true
    ports:
      - "8080:8080"

  ggr:
    image: aerokube/ggr:latest-release
    container_name: ggr
    networks:
      - selenoid-net
    depends_on:
      - selenoid-1
      - selenoid-2
    restart: always
    ports:
      - "4445:4444"
    volumes:
      - ./config/users.htpasswd:/etc/grid-router/users.htpasswd:ro
      - ./config/quota:/etc/grid-router/quota:ro

  ggr-ui:
    image: aerokube/ggr-ui:latest-release
    container_name: ggr-ui
    networks:
      - selenoid-net
    depends_on:
      ggr:
        condition: service_started
    restart: always
    environment:
      - GGR_HOST=ggr
      - GGR_PORT=4444
      - KEEP_SESSIONS_ON_FAILURE=true
    ports:
      - "8888:8888"
    volumes:
      - ./config/users.htpasswd:/etc/grid-router/users.htpasswd:ro
      - ./config/quota:/etc/grid-router/quota:ro

networks:
  selenoid-net:
    driver: bridge
